<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: small; float: right; margin-top: 15px">{{content.params.data.title}}</ion-title>
    <button class="btn-goback" mat-icon-button color="primary" (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="float: right;">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <h4 style="margin-left: 15px; font-size: 12px;">{{content.params.data.title}}</h4>
      <button mat-menu-item style="font-size: 11px" *ngFor="let menuItem of content.params.data.subtitle" (click)="onChange(content, menuItem.name)">
        <mat-icon style="font-size: small">dialpad</mat-icon>
        <span>{{menuItem.name}}</span>
      </button>
    </mat-menu>
  </div>

  <h5 style="margin: 15px 5px 10px 20px; color: steelblue; font-size: 13px;"><u>{{content.params.header}}</u></h5>

  <ion-card style="border-radius: 0px 0px 30px 30px">

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/images/VIH.png">
      </ion-avatar>
      <h4 style="float: left; margin-left: 5px">VIH</h4>
      <p style="font-size: x-small; float: left; margin-top: 25px; margin-left: -20px; color: gray">(virus de l’immunodeficience humaine)</p>
    </ion-item>

    <br/>
    <img style="margin-left: 10px" src="assets/images/VIH.png">
    <br/>

    <ion-card-content>
      <p style="text-align: justify; font-size: 13px;"
         *ngFor="let desciption of content.params.data.subtitle">
      <span style='font-family: "Segoe UI", "Noto Sans", sans-serif; color: #363636' *ngIf="desciption.name == content.params.header">
        {{desciption.description}}
      </span>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>


