<ion-content style="background-color: red; width: 100%; height: 100%;">
  <div style="background-color: #f2f2f2; width: 100%; height: 100%;">
    <div class="example-button-row">
      <button routerLinkActive="active" style="float: right; margin: 10px; background-color: #eee;" (click)="goBack()" mat-icon-button class="example-icon"
              aria-label="Example icon-button with share icon">
        <ion-icon style="font-size: xx-large; margin-top: -3px; color: red" name="close-outline"></ion-icon>
      </button>
    </div>


    <br><br/><br/><br/><br/>

    <mat-card style="box-shadow: none; width: 90%; margin-left: auto; margin-right: auto; border-radius: 20px;">
      <mat-card-content>
        <h2 class="example-h2" align="center"><u>Marge de progression Charge virale</u></h2><br/>
      </mat-card-content>

      <mat-card-content align="center" style="width: 100%;">
        <p class="example-h2" style="font-size: 16px; margin-left: auto; margin-right: auto;" align="center">Pourcentage de nombre de jour restant</p><br/>
        <div style="width: 100px; margin-left: auto; margin-right: auto; border: 1px solid red">
          <mat-progress-spinner [color]="color"
                                [mode]="mode"
                                [value]="realValue"
                                diameter="100"
                                aria-label="Rating" style="color: #e15177">
          </mat-progress-spinner>
          <div style="position:relative; top: -62px; left: auto; right: auto;"><h3 style="font-size: 25px; width: 100%;" align="center">{{realValue}}%</h3></div>
        </div>
      </mat-card-content>


      <ion-list style="margin-top: -5%;">
        <ion-list-header>
          Informations essentielles
        </ion-list-header>
        <ion-item lines="inset" *ngFor="let data of data">
          <ion-label>
            <p>Charge virale dans {{remainingDays}} jour(s)</p>
            <p>Status : {{data.status}}</p>
            <p>Valeur : {{data.numberOfDays}}</p>
            <p>Dernière date : {{data.lastDate}}</p>
            <p>Prochaine date : {{data.nextDate}}</p>
          </ion-label>

          <div class="item-note" item-end>
            <ion-icon name="create" color="primary" style="zoom:2.0; margin-right: 10px;" (click)="openDialog(data)"></ion-icon>
          </div>

          <div>
            <h3>{{days}} <span style="font-size: x-small; font-style: italic">Days</span></h3>
            <h3>{{hours}} <span style="font-size: x-small; font-style: italic">Hours</span></h3>
            <h3>{{minutes}} <span style="font-size: x-small; font-style: italic">Minutes</span></h3>
            <h3>{{seconds}} <span style="font-size: x-small; font-style: italic">Seconds</span></h3>
          </div>
        </ion-item>
      </ion-list>
    </mat-card>

  </div>


</ion-content>
