<ion-content>
  <div class="example-button-row">
    <button routerLinkActive="active" style="float: right; margin: 10px; background-color: #eee;" (click)="goBack()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with share icon">
      <mat-icon color="warn" style="font-size: x-large">clear</mat-icon>
    </button>
  </div>


  <br><br/><br/><br/><br/>

  <mat-card style="box-shadow: none;">
    <mat-card-content>
      <h2 class="example-h2" align="center">Marge de progression Charge virale</h2><br/>
    </mat-card-content>

    <mat-card-content>
      <h2 class="example-h2" align="center">Nombre de jour restant</h2>
      <div style="width: 100px; margin-left: auto; margin-right: auto">
        <mat-progress-spinner [color]="color"
                              [mode]="mode"
                              [value]="realValue"
                              aria-label="Rating">
        </mat-progress-spinner>
        <div style="position:relative; top: -62px; left: auto; right: auto;"><h3 style="font-size: 25px; width: 100%;" align="center">{{realValue}}%</h3></div>
      </div>
    </mat-card-content>

    <ion-list style="margin-top: -5%;">
      <ion-list-header>
        Last and next date
      </ion-list-header>
      <ion-item lines="inset" *ngFor="let data of data">
        <ion-label>
          <p>Status : {{data.status}}</p>
          <p>Charge virale dans {{remainingDays}} jour(s)</p>
          <p>Last date : {{data.lastDate}}</p>
          <p>Next date : {{data.nextDate}}</p>
        </ion-label>
        <div class="item-note" item-end>
          <ion-icon name="create" color="primary" style="zoom:2.0; margin-right: 10px;" (click)="openDialog(data)"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </mat-card>

</ion-content>
