<ion-content color="warn" style="height: 100%; width: 100%;">
  <div color="warn" style="width: 100%; height: 100%; background: #eeeeee">
    <div>
      <button class="btn-goback" mat-icon-button color="primary" (click)="goBack()">
        <ion-icon name="arrow-back-outline" style="font-size: x-large; margin-top: -3px;"></ion-icon>
      </button>
      <div style="font-size: 18px; float: left; margin-top: 30px; margin-left: 20px; color: black;">{{title}}</div>
    </div>

    <div style="width: 100%; float: left; margin-top: 20px">
      <br/>
      <form class="example-form" [formGroup]="mainForm">
        <div align="center" style="color: black">
          <div align="center" style="width: 90%">
            <mat-form-field align="center" class="example-full-width" appearance="fill" style="width: 100%;">
              <mat-label>{{username}}</mat-label>
              <input matInput placeholder="Nom d'utilisateur" formControlName="username">
            </mat-form-field>
          </div>

          <div align="center" style="width: 90%">
            <div class="example-button-row" style="width: 100%;">
              <button type="submit" (click)="submitUsername()" [disabled]="!mainForm.valid" style="height: 45px; float: left; width: 100%;"
                      mat-raised-button color="primary">{{save}}
              </button>
            </div>
          </div>
        </div>
        <span *ngIf="message">{{message}}</span>
      </form>
    </div>

    <div style="width: 100%; float: left; margin-top: 20px">
      <br/>
      <form class="example-form" [formGroup]="mainForm1">
        <div align="center" style="color: black">
          <h3>{{resetPassword}}</h3>
          <div align="center" style="width: 90%">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>{{oldPassword}}</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <ion-icon style="font-size: x-large" [name]="hide ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              </button>
            </mat-form-field>
          </div>

          <div align="center" style="width: 90%">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>{{newPassword}}</mat-label>
              <input matInput [type]="hide1 ? 'newPassword' : 'text'" formControlName="newPassword">
              <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide newPassword'"
                      [attr.aria-pressed]="hide1">
                <ion-icon style="font-size: x-large" [name]="hide1 ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              </button>
            </mat-form-field>
          </div>

          <div align="center" style="width: 90%">
            <div class="example-button-row" style="width: 100%;">
              <button type="submit" (click)="submitPassword()" [disabled]="!mainForm1.valid" style="height: 45px; float: left; width: 100%;"
                      mat-raised-button color="primary">{{save}}
              </button>
            </div>
          </div>
        </div>
        <span *ngIf="message">{{message}}</span>
      </form>
    </div>

  </div>
</ion-content>

