<ion-content color="warn" style="height: 100%; width: 100%;">

  <div color="warn" style="width: 100%; height: 100%; background: url('../../assets/fond/Fond-de-page-html-vertical.png');
        background-size: 100% 100%; background-repeat: no-repeat;">
    <ion-header>
      <ion-toolbar>
        <ion-title style="font-size: 18px; float: right; margin-top: 15px">{{title.params.title}}</ion-title>
        <button class="btn-goback" mat-icon-button color="primary" (click)="goBack()">
          <ion-icon name="arrow-back-outline" style="font-size: x-large; margin-top: -3px;"></ion-icon>
        </button>
      </ion-toolbar>
    </ion-header>


    <div align="center" class="header">
      <div align="center" class="example-button-row">
        <button class="btn" *ngIf="Data.length==0" mat-flat-button color="primary"
                (click)="openDialog('Charge virale')">Calculatrice
        </button>
        <button class="btn" *ngIf="Data.length>0" mat-flat-button color="primary"
                (click)="openCalculate('Charge virale')">Calculatrice
        </button>

        <button class="btn" mat-flat-button color="primary"><a href="https://www.mesi.ht/">Statistique</a></button>

        <button class="btn" *ngIf="Data1.length==0" mat-flat-button color="warn" (click)="openDialog('Ordonnance')">
          Ordonnance
        </button>
        <button class="btn" *ngIf="Data1.length>0" mat-flat-button color="warn" (click)="openOrdonnance('Ordonnance')">
          Ordonnance
        </button>
      </div>
    </div>


    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-accordion-group color="warn"
                         style="margin: 7px; box-shadow: 0px 25px 20px -40px; border-radius: 15px; border: 1px solid #f2f2f2"
                         *ngFor="let item of items | paginate: { itemsPerPage: 7, currentPage: cp }">

      <ion-accordion value="first" style="border-radius: 15px;">
        <ion-item slot="header" color="warn"
                  style="background: #ffffff; border-radius: 15px 15px 0px 0px; border-bottom: 1px solid #f2f2f2; font-size: 15px; color: #9f3954">
          <ion-label>{{item.title}}</ion-label>
        </ion-item>
        <h5 *ngFor="let subT of item.subtitle; let i=index" class="subtitleLI" slot="content"
            (click)="openPage(subT.name, item)">
          <ion-icon class="iconSub" style="font-size: 12px; margin-right: 5px" name="navigate"></ion-icon>
          {{(i + 1) + '. ' + subT.name}}
        </h5>
      </ion-accordion>

    </ion-accordion-group>

    <pagination-controls color="warn" (pageChange)="cp = $event"
                         class="pagination"></pagination-controls>
    <br/><br/>

    <!--    <div align="center" style="border: 1px solid red">-->
    <!--      <mat-spinner align="center" style="position: relative; zoom: 1.1" class="track"-->
    <!--                   mode="determinate" value="100" diameter="200">-->
    <!--      </mat-spinner>-->
    <!--      <mat-spinner color="red" style="position: relative; margin-left: 33.33%; color: red"-->
    <!--                   mode="determinate"-->
    <!--                   diameter="200"-->
    <!--                   value="90">-->

    <!--      </mat-spinner>-->
    <!--    </div>-->


  </div>
</ion-content>

