.btn-goback {
  //margin-left: 5px;
  margin-top: 5px;
  color: #940089;
  float: left;
}

.pagin {
  font-size: x-small;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.itemTitle {
  color: steelblue;
  font-size: 13px;
}

.subtitle {
  margin-top: 0px;
  font-size: small
}

.subtitleLI {
  //padding: 4px;
  font-synthesis: none;
  list-style: none;
  //text-align: justify;
}

.subtitleLI:hover {
  background-color: #eeeeee;
}

.iconSub {
  color: #940089;
}
