<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 18px; float: right; margin-top: 15px">{{title.params.title}}</ion-title>
    <button class="btn-goback" mat-icon-button color="primary" (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </ion-toolbar>
</ion-header>

<section style="">
  <div class="example-button-row" style="float: right; margin: 10px">
    <button mat-mini-fab="accent" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <h4 style="margin-left: 15px; font-size: 12px;"></h4>
    <button *ngIf="Data.length==0" mat-menu-item style="font-size: 13px" (click)="openDialog()">
      <mat-icon style="font-size: small">dialpad</mat-icon>
      <span>Calculate</span>
    </button>
    <button *ngIf="Data.length>0" mat-menu-item style="font-size: 13px"
            (click)="openCalculate('Calculate progression')">
      <mat-icon style="font-size: small">dialpad</mat-icon>
      <span>Calculate</span>
    </button>
    <button mat-menu-item style="font-size: 13px" (click)="openOrdonnance('Ordonnance')">
      <mat-icon style="font-size: small">dialpad</mat-icon>
      <span>Ordonnance</span>
    </button>
    <button mat-menu-item style="font-size: 13px" (click)="openChargeVirale('Charge virale')">
      <mat-icon style="font-size: small">dialpad</mat-icon>
      <span>Charge virale</span>
    </button>
  </mat-menu>
</section>

<div style="float: right;">

</div>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list style="padding-left: -20px; width: 96%">
    <ion-item *ngFor="let item of items | paginate: { itemsPerPage: 8, currentPage: cp }" class="listMargin">
      <mat-accordion style="box-shadow: none; border: none; width: 100%;">
        <mat-expansion-panel hideToggle (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title style="margin-top: 15px;">
              <h4 class="itemTitle">{{item.title}}</h4>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <h5 class="subtitleLI" *ngFor="let subT of item.subtitle;" (click)="openPage(subT.name, item)">
            <mat-icon class="iconSub" style="font-size: 12px;">question_answer</mat-icon>
            {{subT.name}}</h5>
        </mat-expansion-panel>
      </mat-accordion>
    </ion-item>
  </ion-list>
  <pagination-controls (pageChange)="cp = $event" class="pagin"></pagination-controls>
</ion-content>
