.btn-goback {
  //margin-left: 5px;
  margin-top: 5px;
  //color: #940089;
  color: mediumseagreen;
  float: left;
}

.pagin {
  font-size: small;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.itemTitle {
  color: #6b83bd;
  font-size: 15px;
}

.subtitle {
  margin-top: 0px;
  font-size: 19px;
}

.subtitleLI {
  //padding: 4px;
  font-synthesis: none;
  list-style: none;
  font-size: 14px;
  //text-align: justify;
}

.subtitleLI:hover {
  background-color: #eeeeee;
}

.iconSub {
  //color: #940089;
  color: mediumseagreen;
}
